@charset "UTF-8";
/*index*/
/*historia*/
/*variedades*/
/*carta*/
/*contacto*/
/*Inicio página principal*/
/*desktop*/
@media screen and (min-width: 481px) {
  body {
    background-color: black; }
  .flex-container {
    display: flex; }
    .flex-container div {
      margin: auto;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-family: "Imbue", serif; }
      .flex-container div a {
        text-decoration: none;
        color: #9F9B9B;
        transition: all 300ms; }
      .flex-container div a:hover {
        font-size: 46px;
        margin-bottom: 2px;
        transition: all 1s; }
  .section-principal {
    display: flex;
    width: 100%;
    text-align: center; }
  .caja-reseña {
    color: rgba(255, 255, 255, 0.579);
    font-size: 28px;
    font-family: "Imbue", serif;
    margin-top: 100px;
    border: 1px solid #cd6606;
    width: 50%;
    align-self: center; }
  .container-imag1 {
    width: 50%;
    margin-top: 35px;
    color: #9F9B9B;
    font-size: 30px;
    font-family: "Imbue", serif; }
    .container-imag1 img {
      border-radius: 30px; }
    .container-imag1 span {
      display: block; } }

.footer-principal {
  display: flex;
  width: 100%;
  text-align: center; }
  .footer-principal .text {
    color: #d8961b;
    width: 50%;
    font-size: 36px;
    font-family: 'Imbue', serif; }
  .footer-principal .text-white {
    color: white; }
  .footer-principal .redes-principal {
    margin: auto;
    width: 50%; }

/*mobile*/
@media screen and (max-width: 480px) {
  body {
    background-color: black; }
  .container-imag1 {
    display: none; }
  .flex-container {
    margin: 0px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-family: "Imbue", serif; }
    .flex-container a {
      text-decoration: none;
      color: #9F9B9B; }
    .flex-container .caja-historia {
      position: absolute;
      left: 20px;
      top: 270px; }
    .flex-container .caja-variedades {
      position: absolute;
      left: 20px;
      top: 320px; }
    .flex-container .caja-carta {
      position: absolute;
      left: 20px;
      top: 370px; }
    .flex-container .caja-contacto {
      position: absolute;
      left: 20px;
      top: 420px; }
  .text {
    width: 400px;
    color: #d8961b;
    font-size: 36px;
    font-family: "Imbue", serif;
    position: absolute;
    left: 30px;
    top: 550px; }
  .text-white {
    color: white; }
  footer div {
    position: absolute;
    top: 900px; } }

/*Cierre página principal*/
/*Inicio página Historia*/
/*desktop*/
@media screen and (min-width: 1000px) {
  .conteiner-title {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .conteiner-title h1 {
      color: #F39A14;
      font-family: "Inknut Antiqua";
      font-size: 30px;
      border-bottom: 1px solid white; }
  .section1 {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: black; }
    .section1 .reseña {
      width: 50%;
      border-radius: 68px;
      margin: 10px;
      margin-top: 100px;
      background-color: #C87C09;
      opacity: 0.5;
      font-family: 'Inder';
      font-size: 19px; }
      .section1 .reseña p {
        padding: 20px; }
  .imag-historia {
    width: 50%;
    margin-top: 80px; }
    .imag-historia img {
      width: 100%; }
    .imag-historia span {
      display: block;
      font-size: 40px;
      color: #9F9B9B;
      font-family: 'Imbue'; }
  .section2 {
    display: flex;
    width: 100%;
    text-align: center; }
    .section2 .logo-historia {
      width: 50%;
      margin-top: 150px; } }

/*mobile*/
@media screen and (max-width: 999.2px) {
  .conteiner-title {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .conteiner-title h1 {
      color: #F39A14;
      font-family: "Inknut Antiqua";
      font-size: 30px;
      border-bottom: 1px solid white; }
  .section1 {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: black; }
    .section1 .reseña {
      display: none; }
  .imag-historia {
    width: 50%;
    margin-top: 80px; }
    .imag-historia img {
      width: 100%; }
    .imag-historia span {
      display: block;
      font-size: 40px;
      color: #9F9B9B;
      font-family: 'Imbue'; }
  .section2 {
    display: flex;
    width: 100%;
    text-align: center; }
    .section2 .logo-historia {
      width: 50%;
      margin-top: 150px; } }

/*Cierre página Historia*/
/*Inicio página Variedades*/
/*desktop*/
@media screen and (min-width: 672px) {
  /*header*/
  .header-variedades {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto; }
    .header-variedades .grano {
      width: 30%;
      align-self: center; }
    .header-variedades .logo-variedad {
      width: 40%; }
  /*section*/
  .caja1-variedad {
    display: flex;
    width: 100%; }
  .caja2-variedad {
    display: flex;
    width: 100%; }
  .imag-variedad {
    width: 50%;
    margin: 80px;
    border: 2px solid white; }
    .imag-variedad img {
      width: 100%; }
    .imag-variedad h3 {
      margin: 0px;
      font-family: "Inder", sans-serif;
      font-size: 33px;
      display: block;
      text-align: center;
      color: #F39A14;
      opacity: 0.5; }
    .imag-variedad p {
      font-family: "Inder", sans-serif;
      font-size: 20px;
      display: block;
      text-align: center;
      color: #F39A14;
      opacity: 0.5; } }

/*mobile*/
@media screen and (max-width: 671.2px) {
  .header-variedades {
    text-align: center; }
    .header-variedades .grano {
      display: none; }
    .header-variedades .logo-variedad {
      width: 100%; }
  /*section*/
  .caja1-variedad {
    display: flex;
    width: 100%; }
  .caja2-variedad {
    display: flex;
    width: 100%; }
  .imag-variedad {
    width: 50%;
    margin: 45px;
    border: 2px solid white; }
    .imag-variedad img {
      width: 100%; }
    .imag-variedad img:hover {
      width: 100px; }
    .imag-variedad h3 {
      margin: 0px;
      font-family: "Inder", sans-serif;
      font-size: 33px;
      display: block;
      text-align: center;
      color: #F39A14;
      opacity: 0.5; }
    .imag-variedad p {
      display: none; } }

/*Cierre página Variedades*/
/*Inicio página Carta*/
/*desktop*/
@media screen and (min-width: 1023.2px) {
  .container-carta {
    display: flex;
    width: 100%;
    text-align: center; }
    .container-carta .caja1 {
      width: 30%;
      margin-bottom: 100px;
      border-bottom: 1px solid white; }
    .container-carta .caja2 {
      top: 40px;
      width: 40%; }
    .container-carta .caja3 {
      width: 30%;
      align-self: center;
      margin-bottom: 10px;
      border-bottom: 1px solid white; }
    .container-carta .caja4 {
      width: 50%;
      border-bottom: 1px solid white;
      align-self: start; }
    .container-carta .caja5 {
      width: 50%;
      border-bottom: 1px solid white;
      align-self: flex-start; }
    .container-carta .caja6 {
      width: 35%;
      border-bottom: 1px solid white;
      align-self: center; }
    .container-carta .caja7 {
      width: 30%;
      align-self: center; }
      .container-carta .caja7 a {
        text-decoration: none;
        font-family: 'Imbue';
        font-size: 48px;
        color: #9F9B9B;
        opacity: 0.8; }
    .container-carta .caja8 {
      width: 35%;
      margin-top: 35px;
      border-bottom: 1px solid white; }
    .container-carta span {
      display: block;
      font-size: 20px;
      font-family: 'Inder';
      color: #F39A14;
      opacity: 0.5; } }

/*mobile*/
@media screen and (max-width: 1023px) {
  .container-carta {
    display: flex;
    width: 100%; }
    .container-carta span {
      display: block;
      font-size: 20px;
      font-family: 'Inder';
      color: #F39A14;
      opacity: 0.5;
      text-align: center; }
    .container-carta img {
      width: 100%; }
    .container-carta .caja1 {
      width: 30%;
      margin-bottom: 100px;
      border-bottom: 1px solid white; }
    .container-carta .caja2 {
      top: 40px;
      width: 40%; }
    .container-carta .caja3 {
      width: 30%;
      align-self: center;
      margin-bottom: 10px;
      border-bottom: 1px solid white; }
    .container-carta .caja4 {
      width: 50%;
      margin-right: 30px;
      border-bottom: 1px solid white;
      align-self: start; }
    .container-carta .caja5 {
      width: 50%;
      border-bottom: 1px solid white;
      align-self: flex-start; }
    .container-carta .caja6 {
      width: 35%;
      border-bottom: 1px solid white;
      align-self: center; }
    .container-carta .caja7 {
      width: 30%;
      margin: 25px;
      align-self: center; }
      .container-carta .caja7 a {
        text-decoration: none;
        font-family: 'Imbue';
        font-size: 28px;
        color: #9F9B9B;
        opacity: 0.8; }
    .container-carta .caja8 {
      width: 35%;
      margin-top: 35px;
      border-bottom: 1px solid white; } }

/*Cierre página Carta*/
/*Inicio página Contacto*/
/*desktop*/
@media screen and (min-width: 961px) {
  .section-contacto {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%; }
  /*inicio diseño form*/
  .form-contac {
    width: auto;
    text-align: center; }
    .form-contac h1 {
      font-family: 'Inknut Antiqua';
      font-size: 40px;
      color: #F39A14;
      opacity: 0.5; }
    .form-contac form {
      display: grid;
      grid-template-columns: auto auto; }
    .form-contac div {
      width: 200px;
      font-size: 36px; }
      .form-contac div input {
        background: #D9D9D9;
        opacity: 0.5;
        font-family: "Inder";
        width: 220px;
        height: 30px;
        margin: auto;
        margin-bottom: 20px;
        margin-left: 103px; }
    .form-contac .experiencia {
      width: auto;
      background: #D9D9D9;
      opacity: 0.5;
      font-family: "Inder"; }
    .form-contac .enviar {
      width: 60px;
      background: #D9D9D9;
      opacity: 0.5;
      font-family: "Inder";
      grid-column: 2;
      justify-self: end;
      margin-top: 5px; }
  /*cierre diseño form*/
  .planta-contac {
    width: 196px;
    height: 192px;
    justify-self: end;
    /* animation: */
    animation-name: moverplanta;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal; }
  @keyframes moverplanta {
    0% {
      transform: translateX(0); }
    25% {
      transform: translateX(-84%); }
    50% {
      transform: translate(-84%, 50%); }
    75% {
      transform: translate(0, 50%); } }
  .logo-contac {
    width: auto;
    text-align: center; }
  .grano-contac {
    width: 200px;
    align-self: end;
    margin-right: 240px;
    /* animatio: */
    animation-name: movergrano;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal; }
  @keyframes movergrano {
    0% {
      transform: translateX(0); }
    25% {
      transform: translateX(130%); }
    50% {
      transform: translate(130%, -27%); }
    75% {
      transform: translate(0, -27%); } }
  .footer {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    height: auto; }
    .footer div {
      width: auto;
      height: auto;
      justify-self: start; }
      .footer div p {
        font-family: "Inknut Antiqua";
        color: #F39A14;
        opacity: 0.5;
        font-size: 25px; }
      .footer div span {
        font-family: "Inknut Antiqua";
        font-size: 20px;
        color: #F39A14;
        opacity: 0.5;
        line-height: 90px; }
    .footer #pp {
      grid-row: 1 / 3;
      justify-self: end;
      width: 600px;
      height: auto;
      text-align: center; } }

/*mobile*/
@media screen and (max-width: 960px) {
  .planta-contac {
    display: none; }
  .form-contac {
    width: auto; }
    .form-contac h1 {
      font-family: 'Inknut Antiqua';
      font-size: 40px;
      color: #F39A14;
      opacity: 0.5;
      text-align: center; }
    .form-contac form {
      display: grid;
      grid-template-columns: auto;
      width: 10px; }
    .form-contac div {
      text-align: justify; }
      .form-contac div input {
        background: #D9D9D9;
        opacity: 0.5;
        font-family: "Inder";
        width: 220 px;
        height: 30px;
        margin: auto;
        margin-bottom: 20px; }
    .form-contac .experiencia {
      width: 322px;
      height: 155px;
      background: #D9D9D9;
      opacity: 0.5;
      font-family: "Inder"; }
    .form-contac .enviar {
      width: 60px;
      background: #D9D9D9;
      opacity: 0.5;
      font-family: "Inder";
      justify-self: start;
      margin-top: 5px; }
  .grano-contac {
    align-self: end;
    justify-self: center;
    margin-right: 240px;
    margin-top: 38px;
    width: 200px;
    opacity: 0.6; }
  .logo-contac {
    width: auto; }
  #pp {
    display: none; }
  .footer {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    height: auto; }
    .footer div {
      width: auto;
      height: auto;
      justify-self: start; }
    .footer p {
      font-family: "Inknut Antiqua";
      color: #F39A14;
      opacity: 0.5;
      font-size: 25px; }
    .footer span {
      font-family: "Inknut Antiqua";
      font-size: 20px;
      color: #F39A14;
      opacity: 0.5;
      line-height: 90px; } }

/*Cierre página Contacto*/
