/*index*/
$color1: #9F9B9B;
$fontimbue: 'Imbue', serif;
/*historia*/
$fonth1his:'Inknut Antiqua';
/*variedades*/
$fontserifvar: 'Inder', sans-serif;
$colorvar:#F39A14;
/*carta*/
$bordercart: 1px solid white;
/*contacto*/
$fontform: 'Inder';
$backform: #D9D9D9;
$fontfooter: 'Inknut Antiqua';
$colorfooter: #F39A14;