@import "variables";
@mixin flexbox{
    display: flex;
    width: 100%;
    text-align: center;
}
/*Inicio página principal*/
/*desktop*/
@media screen and (min-width: 481px){
    body{
        background-color: black;
    }
    .flex-container{
        display: flex;
        div{
            margin: auto;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-family: $fontimbue;
            a{
                text-decoration: none;
                color: $color1;
                transition: all 300ms;
            }
            a:hover{
                font-size: 46px;
                margin-bottom: 2px;
                transition: all 1s;
            }
        }
    }
    .section-principal{
        @include flexbox;
    }
        .caja-reseña{
            color: rgba(255, 255, 255, 0.579);
            font-size: 28px;
            font-family: $fontimbue;
            margin-top: 100px;
            border: 1px solid rgb(205, 102, 6);
            width: 50%;
            align-self: center;
        }
        .container-imag1{
            width: 50%;
            margin-top: 35px;
            color: $color1;
            font-size: 30px;
            font-family: $fontimbue;
            img{
                border-radius: 30px;
            }
            span{
                display: block;
            }
        }
    } 
    .footer-principal{
        @include flexbox;
        .text{
            color: rgb(216, 150, 27);
            width: 50%;
            font-size: 36px;
            font-family: 'Imbue', serif;
        }
        .text-white{
            color: white;
        }
        .redes-principal{
            margin: auto;
            width: 50%;
        }
    }
    /*mobile*/
    @media screen and (max-width: 480px){
        body{
            background-color: black;
        }
        .container-imag1{
            display: none;
        }
        .flex-container{
            margin: 0px;
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-family: $fontimbue;
            a{
                text-decoration: none;
                color: $color1;
            }
            .caja-historia{
                position: absolute;
                left: 20px;
                top: 270px;
            }
            .caja-variedades{
                position: absolute;
                left: 20px;
                top: 320px;
            }
            .caja-carta{
                position: absolute;
                left: 20px;
                top: 370px;
            }
            .caja-contacto{
                position: absolute;
                left: 20px;
                top: 420px ;
            }
        }
        .text{
            width: 400px;
            color: rgb(216, 150, 27);
            font-size: 36px;
            font-family: $fontimbue;
            position: absolute;
            left: 30px;
            top: 550px;
        }
        .text-white{
            color: white;
        }
        footer div{
            position: absolute;
            top: 900px;
        }
    
    }

/*Cierre página principal*/
/*Inicio página Historia*/
/*desktop*/
@media screen and (min-width: 1000px ) {
.conteiner-title{
    display: flex;
    justify-content: space-around;
    width: 100%;
    h1{
        color: #F39A14 ;
        font-family: $fonth1his;
        font-size: 30px;
        border-bottom: 1px solid white;
    }    
}
.section1{
    @include flexbox;
    background-color: rgb(0, 0, 0);
    .reseña{
        width: 50%;
        border-radius: 68px;
        margin: 10px;
        margin-top: 100px;
        background-color: #C87C09;
        opacity: 0.5;
        font-family: 'Inder';
        font-size: 19px;
        p{
            padding: 20px;
        }
    }
}
.imag-historia{
    width: 50%;
    margin-top: 80px;
    img {
        width: 100%;
    }
    span{
        display: block;
        font-size: 40px;
        color: $color1;
        font-family: 'Imbue';
    }
}

.section2{
    @include flexbox;
    .logo-historia{
        width: 50%;
        margin-top: 150px;
    }
}
}
/*mobile*/
@media  screen and (max-width: 999.20px ){
    .conteiner-title{
        display: flex;
        justify-content: space-around;
        width: 100%;
        h1{
            color: #F39A14 ;
            font-family: $fonth1his;
            font-size: 30px;
            border-bottom: 1px solid white;
        }
        
    }
    .section1{
        @include flexbox;
        background-color: rgb(0, 0, 0);
        .reseña{
            display: none;
         }
    }
    .imag-historia{
        width: 50%;
        margin-top: 80px;
        img {
            width: 100%;
        }
        span{
            display: block;
            font-size: 40px;
            color: $color1;
            font-family: 'Imbue';
        }
    }
    .section2{
        @include flexbox;
        .logo-historia{
            width: 50%;
            margin-top: 150px;
        }
    }
}
/*Cierre página Historia*/
/*Inicio página Variedades*/
/*desktop*/
@media screen and (min-width: 672px ){
    /*header*/
.header-variedades{
    @include flexbox;
    margin: 0 auto;
    .grano{
        width: 30%;
        align-self: center;
    }
    .logo-variedad{
        width: 40%;
    }
}
/*section*/
.caja1-variedad{
    display: flex;  
    width: 100%;
}
.caja2-variedad{
    display: flex;
    width: 100%;
}
.imag-variedad{
    width: 50%;
    margin: 80px;
    border: 2px solid white;
    img{
        width: 100%;
    }
    h3{
        margin: 0px;
        font-family: $fontserifvar;
        font-size: 33px;
        display: block;
        text-align: center;
        color: $colorvar;
        opacity: 0.5;
    }
    p {
        font-family: $fontserifvar;
        font-size: 20px;
        display: block;
        text-align: center;
        color: $colorvar;
        opacity: 0.5;
    }
}
}
/*mobile*/
@media screen and (max-width: 671.20px) {
    .header-variedades{
        text-align: center;
        .grano{
            display: none;
        }
       
        .logo-variedad{
            width: 100%;
        }
    }
    /*section*/
    .caja1-variedad{
        display: flex;  
        width: 100%;
    }
    .caja2-variedad{
        display: flex;
        width: 100%;
    }
    .imag-variedad{
        width: 50%;
        margin: 45px;
        border: 2px solid white;
        img{
            width: 100%;    
        }
        img:hover{
            width: 100px;
        }
        h3{
            margin: 0px;
            font-family: $fontserifvar;
            font-size: 33px;
            display: block;
            text-align: center;
            color: $colorvar;
            opacity: 0.5;
        }
        p {
            display: none;
        }
    }    
}
/*Cierre página Variedades*/
/*Inicio página Carta*/
/*desktop*/
@media screen and (min-width: 1023.20px) {
.container-carta{
    @include flexbox;
    .caja1{
        width: 30%;
        margin-bottom: 100px;
        border-bottom: $bordercart;
    }
    .caja2{
        top: 40px;
        width: 40%;
    }
    .caja3{
        width: 30%;
        align-self: center;
        margin-bottom: 10px;
        border-bottom: $bordercart;
    }
    .caja4{
        width: 50%;
        border-bottom: $bordercart;
        align-self: start;
    }
    .caja5{
        width: 50%;
        border-bottom: $bordercart;
        align-self: flex-start;
    }
    .caja6{
        width: 35%;
        border-bottom: $bordercart;
        align-self: center;
    }
    .caja7{
        width: 30%;
        align-self: center;
        a{
            text-decoration: none;
            font-family: 'Imbue';
            font-size: 48px;
            color: #9F9B9B;
            opacity: 0.8;
        }
    }
    .caja8{
        width: 35%;
        margin-top: 35px;
        border-bottom: $bordercart;
    }
    span{
        display: block;
        font-size: 20px;
        font-family: 'Inder';
        color: #F39A14;
        opacity: 0.5;
    }
}
}
/*mobile*/
@media  screen and (max-width:1023px) {
    .container-carta{
        display: flex;
        width: 100%;
        span{
            display: block;
            font-size: 20px;
            font-family: 'Inder';
            color: #F39A14;
            opacity: 0.5;
            text-align: center;
        }
        img{
            width: 100%;
        }
        .caja1{
            width: 30%;
            margin-bottom: 100px;
            border-bottom: $bordercart;
        }
        .caja2{
            top: 40px;
            width: 40%;
        }
        .caja3{
            width: 30%;
            align-self: center;
            margin-bottom: 10px;
            border-bottom: $bordercart;
        }
        .caja4{
            width: 50%;
            margin-right: 30px;
            border-bottom: $bordercart;
            align-self: start;
        }
        .caja5{
            width: 50%;
            border-bottom: $bordercart;
            align-self: flex-start;
        }
        .caja6{
            width: 35%;
            border-bottom: $bordercart;
            align-self: center;
        }
        .caja7{
            width: 30%;
            margin: 25px;
            align-self: center;
            a{
                text-decoration: none;
                font-family: 'Imbue';
                font-size: 28px;
                color: #9F9B9B;
                opacity: 0.8;
            }
        }
        .caja8{
            width: 35%;
            margin-top: 35px;
            border-bottom: $bordercart;
        }
    }
}
/*Cierre página Carta*/
/*Inicio página Contacto*/
/*desktop*/
@media screen and (min-width: 961px){
.section-contacto{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
/*inicio diseño form*/
.form-contac{
    width: auto;
    text-align: center;
    h1{
        font-family: 'Inknut Antiqua';
        font-size: 40px;
        color: #F39A14;
        opacity: 0.5;
    }
    form{
        display: grid;
        grid-template-columns: auto auto;
    }
    div{
        width: 200px;
        font-size: 36px;
        input{
            background: $backform;
            opacity: 0.5;
            font-family: $fontform;
            width: 220px;
            height: 30px;
            margin: auto;
            margin-bottom: 20px;
            margin-left: 103px;
        }
    }
    .experiencia{
        width: auto;
        background: $backform;
        opacity: 0.5;
        font-family: $fontform;
    }
    .enviar{
        width: 60px;
        background: $backform;
        opacity: 0.5;
        font-family: $fontform;
        grid-column: 2;
        justify-self: end;
        margin-top: 5px;
    }
}
/*cierre diseño form*/
.planta-contac{
    width: 196px;
    height: 192px;
    justify-self: end;
    /* animation: */
    animation-name: moverplanta;
    animation-duration: 6s ;
    animation-iteration-count: infinite;
    animation-direction: normal ;
}
@keyframes moverplanta {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-84%);
    }
    50%{
        transform: translate(-84%,50%);
    }
    75%{
        transform: translate(0,50%);
    }
   
}
.logo-contac{
    width: auto;
    text-align: center;
}
.grano-contac{
    width: 200px;
    align-self: end;
    margin-right: 240px;
    /* animatio: */
    animation-name: movergrano;
    animation-duration: 6s ;
    animation-iteration-count: infinite;
    animation-direction: normal ;
}
@keyframes movergrano {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(130%);
    }
    50%{
        transform: translate(130%,-27%);
    }
    75%{
        transform: translate(0,-27%);
    }
   
}
.footer{
    display: grid;
    grid-template-columns: auto auto ;
    width: auto;
    height: auto;
    div{
        width: auto;
        height: auto;
        justify-self: start;
        p{
            font-family: $fontfooter;
            color: $colorfooter;
            opacity: 0.5;
            font-size: 25px;
        }
        span{
            font-family: $fontfooter;
            font-size: 20px;
            color: $colorfooter;
            opacity: 0.5;
            line-height: 90px;
        }
    }
    #pp{
        grid-row: 1 / 3;
        justify-self: end;
        width: 600px;
        height: auto;
        text-align: center;
    }
}
}
/*mobile*/
@media screen and (max-width: 960px){
    .planta-contac{
        display: none;
    }
    .form-contac{
        width: auto;
        h1{
            font-family: 'Inknut Antiqua';
            font-size: 40px;
            color: #F39A14;
            opacity: 0.5;
            text-align: center;
        }
        form{
            display: grid;
            grid-template-columns: auto;
            width: 10px;
        }
        div{
            text-align:justify;
            input{
                background: $backform;
                opacity: 0.5;
                font-family: $fontform;
                width: 220 px;
                height: 30px;
                margin: auto;
                margin-bottom: 20px;
            }
        }
        .experiencia{
            width: 322px;
            height: 155px;
            background: $backform;
            opacity: 0.5;
            font-family: $fontform;
        }
        .enviar{
            width: 60px;
            background: $backform;
            opacity: 0.5;
            font-family: $fontform;
            justify-self: start;
            margin-top: 5px;
        }
    }
    .grano-contac{
        align-self: end;
        justify-self: center;
        margin-right: 240px;
        margin-top: 38px;
        width: 200px;
        opacity: 0.6;
    }
    .logo-contac{
        width: auto;
    }
    #pp{
        display: none;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto ;
        width: auto;
        height: auto;
        div{
            width: auto;
            height: auto;
            justify-self: start;
        }
        p{
            font-family: $fontfooter;
            color: $colorfooter;
            opacity: 0.5;
            font-size: 25px;
        }
        span{
            font-family: $fontfooter;
            font-size: 20px;
            color: $colorfooter;
            opacity: 0.5;
            line-height: 90px;
        }
    }
}  

/*Cierre página Contacto*/
